

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(?:.)?resumehharouna.\.net(?:.*)$ [nc]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [redirect=301,L]
# Redirections https resumehharouna.net

#RewriteEngine On
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} !on
#RewriteCond %{HTTP_HOST} ^(?:.)?192.168.40.11:302(?:.*)$ [nc]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [redirect=301,L]


# One month for most static assets
#<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
#Header set Cache-Control "max-age=2628000, public"
#</filesMatch> 

# liste des liens root ajax



RewriteRule  ^img/myself$ url_page/image/myself.jpg
RewriteRule  ^/index$ index.php
RewriteRule ^sept_url/([0-9a-zA-Z_-]+)/confirme/url_confirme_code$ url_page/controle_url_insert/url_confirme_comment.php [NC,L] 
RewriteRule ^sept_url/([0-9a-zA-Z_-]+)/confirme/url_contract_option$ url_page/controle_url_insert/url_contract_option.php [NC,L] 
RewriteRule ^sept_url/([0-9a-zA-Z_-]+)/confirme/url_test_ipv4$ url_page/controle_url_insert/url_test_ipv4.php [NC,L] 
RewriteRule ^sept_url/([0-9a-zA-Z_-]+)/confirme/url_delete_ipv4$ url_page/controle_url_delet/url_ipv4_delete.php [NC,L] 
RewriteRule ^sept_url/([0-9a-zA-Z_-]+)/confirme/url_contract_update$ url_page/controle_url_update/contract_option_update.php [NC,L] 
RewriteRule ^sept_url/([0-9a-zA-Z_-]+)/confirme/url_page_foot$ url_page/controle_url_page/url_page_foot.php [NC,L] 
RewriteRule ^sept_url/sign_out$ url_page/controle_url_delet/url_sign_out.php [NC,L] 
#RewriteRule ^sept_url/([0-9a-zA-Z_-]+)/assistance/hharouna$ url_page/controle_url_page/url_contole_assistance.php [NC,L] 
RewriteRule ^chat/creat$ url_page/controle_url_page/url_controle_assistance.php [NC,L] 
RewriteRule ^chat/session/([0-9a-zA-Z_-]+)$ url_page/controle_url_page/url_controle_chat.php?url_connexion=$1 [NC,L] 
RewriteRule ^sept_url/pdf_create$ url_page/controle_create_pdf/url_create_pdf.php [NC,L] 
RewriteRule ^sept_url/([0-9a-zA-Z_-]+)/([0-9a-zA-Z-=_]+)$ url_page/url_sept/url_sept.php?url_sept=$1&url_recrute=$2 [NC,L] 

 





